{% extends 'layout.html.twig' %}

{% block page_title %}
    Contactez-nous
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-6 mx-auto">

            <h1>Contactez nous</h1>
            <form action="">
                <input type="text" class="form-control">
                <input type="text" class="form-control">
                <input type="text" class="form-control">
                <input type="text" class="form-control">
                <input type="text" class="form-control">
                <input type="text" class="form-control">
                <input type="text" class="form-control">
            </form>
        </div>
    </div>
{% endblock %}

