{% extends "layout.html.twig" %}

{% block page_title %}Accueil{% endblock %}

{% block content %}
    <!-- minimal-post-area -->
    <section class="minimal__post-area pt-80 pb-80">
        <div class="container">
            <div class="minimal__post-wrapper">
                {% for post in posts %}
                    {% include 'components/_post.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- minimal-post-area-end -->
{% endblock %}
