<!DOCTYPE html>
<!--
 .d8b.   .o88b. d888888b db    db d8b   db d88888b db   d8b   db .d8888.
d8' `8b d8P  Y8 `~~88~~' 88    88 888o  88 88'     88   I8I   88 88'  YP
88ooo88 8P         88    88    88 88V8o 88 88ooooo 88   I8I   88 `8bo.
88~~~88 8b         88    88    88 88 V8o88 88~~~~~ Y8   I8I   88   `Y8b.
88   88 Y8b  d8    88    88b  d88 88  V888 88.     `8b d8'8b d8' db   8D
YP   YP  `Y88P'    YP    ~Y8888P' VP   V8P Y88888P  `8b8' `8d8'  `8888Y'
-->
<html class="no-js" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block meta_description '' %}">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <title>
        {% block title %}
            {% block page_title 'Accueil' %} | Actunews
        {% endblock %}
    </title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
