<footer class="footer-area black-bg border-top-none">
    <div class="container">
        <div class="footer__logo-wrap">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-4">
                    <div class="footer__logo logo">
                        <a href="{{ path('default_home') }}"><img src="{{ asset('assets/img/logo/w_logo.png') }}" alt="Logo"></a>
                    </div>
                </div>
                {#<div class="col-lg-9 col-md-8">
                    <div class="footer__social">
                        <ul class="list-wrap">
                            <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook <span>25K</span></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i> Twitter <span>44K</span></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i> Youtube <span>91K</span></a></li>
                        </ul>
                    </div>
                </div>#}
            </div>
        </div>
        <div class="footer__copyright">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright__text">
                        <p>Copyright &copy; <span>CDA Cergy</span> - {{ 'now'|date('Y') }}</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="copyright__menu">
                        <ul class="list-wrap">
                            <li><a href="#">Contactez-nous</a></li>
                            <li><a href="#">Condition d'utilisation</a></li>
                            <li><a href="#">RGPD</a></li>
                            <li><a href="#">Mentions Légales</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>